@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-image: linear-gradient(315deg,
    #b8c6db 0%, #f5f7fa 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;   

}

.quiz-container{  /*This make sure the container maintain a good order*/
    background-color: #ac6a6a;
    border-radius: 10px; 
    box-shadow:0 0 10px 5px rgba(0,0,0,0.1);
    width: 600px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 2rem;
    text-align: center;
    margin: 0;
}


ul{
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button{
    background-color: #8f172b;
    display: block;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover{
    background-color: #732d91;
}

button:focus {
    background-color: #50116b;
    outline: none;
}